@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

header div {
    border: 2px solid black;
    padding: 45px 10px;
    border-radius: 100%;
}

ul {
    list-style: none;
}

ul {
    display: flex;
}

ul li {
    margin-right: 30px;
}

header ul li a {
    color: black;
}

footer {
    position: fixed;
    bottom: 14px;
    right: 15px;
    left: 15px;
    border: 2px solid #000;
    padding: 1em 2em;
}

footer span {
    font-size: 18px;
}

.shows-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.like-icon {
  display: block;
  background-image: url(../assets/love.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  cursor: pointer;
}
